@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9n8uw8');
  src:  url('fonts/icomoon.eot?9n8uw8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9n8uw8') format('truetype'),
    url('fonts/icomoon.woff?9n8uw8') format('woff'),
    url('fonts/icomoon.svg?9n8uw8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-e50a .path1:before {
  content: "\e900";
  color: rgb(153, 170, 181);
}
.icon-e50a .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(102, 117, 127);
}
.icon-e50a .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(225, 232, 237);
}
.icon-e50a .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(204, 214, 221);
}
.icon-e50a .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(204, 214, 221);
}
.icon-e50a .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(41, 47, 51);
}
.icon-e50a .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(190, 25, 49);
}
